<div style="padding: auto 5em;">
	<h1>{{photo.title}}</h1>
	<p>{{photo.uploadDate}}</p>
</div>
<div class="image-matte" style="text-align: center;">
	<img src="{{photo.url}}" alt="" style="width: 75%;">
</div>
<br />
<p>{{photo.description}}</p>