<div style="padding: auto 5em;">
	<h1>{{image.title}}</h1>
	<p>{{image.uploadDate}}</p>
</div>
<div class="image-matte" style="text-align: center;">
	<img src="{{image.url}}" alt="" style="width: 75%;">
</div>
<br />
<p>{{image.description}}</p>