<header>
	<h1>Photo Sharing Site</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</header>
<div class="photo-container">
	{{#each photos}}
		{{> home_image}}
	{{/each}}
	<article class="photo-article">
		<header>
			<div class="row">
				<div class="col-sm-12 col-md-offset-2 col-md-10">
					<h1>Soft Kitty</h1>
				</div>
			</div>
		</header>
		<div class="row">
			<div class="photo-matte col-sm-5 col-md-offset-2 col-md-5 ">
				<a href="details.html">
					<img src="images/cat_1.jpg" alt="" />
				</a>
			</div>
			<div class="photo-right col-sm-7 col-md-5">
				<div class="photo-description">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<br />
					<p>2016/02/02 5:28pm</p>
				</div>
			</div>
		</div><!--row-->
	</article>
	<article class="photo-article">
		<header>
			<div class="row">
				<div class="col-sm-12 col-md-offset-2 col-md-10">
					<h1>Warm Kitty</h1>
				</div>
			</div>
		</header>
		<div class="row">
			<div class="photo-matte col-sm-5 col-md-offset-2 col-md-5 ">
				<a href="details.html">
					<img src="images/cat_2.jpg" alt="" />
				</a>
			</div>
			<div class="photo-right col-sm-7 col-md-5">
				<div class="photo-description">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<br />
					<p>2016/02/02 5:28pm</p>
				</div>
			</div>
		</div><!--row-->
	</article>
	<article class="photo-article">
		<header>
			<div class="row">
				<div class="col-sm-12 col-md-offset-2 col-md-10">
					<h1>Little Ball of Fur</h1>
				</div>
			</div>
		</header>
		<div class="row">
			<div class="photo-matte col-sm-5 col-md-offset-2 col-md-5 ">
				<a href="details.html">
					<img src="images/cat_3.jpg" alt="" />
				</a>
			</div>
			<div class="photo-right col-sm-7 col-md-5">
				<div class="photo-description">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<br />
					<p>2016/02/02 5:28pm</p>
				</div>
			</div>
		</div><!--row-->
	</article>
	<article class="photo-article">
		<header>
			<div class="row">
				<div class="col-sm-12 col-md-offset-2 col-md-10">
					<h1>Happy Kitty</h1>
				</div>
			</div>
		</header>
		<div class="row">
			<div class="photo-matte col-sm-5 col-md-offset-2 col-md-5 ">
				<a href="details.html">
					<img src="images/cat_4.jpg" alt="" />
				</a>
			</div>
			<div class="photo-right col-sm-7 col-md-5">
				<div class="photo-description">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<br />
					<p>2016/02/02 5:28pm</p>
				</div>
			</div>
		</div><!--row-->
	</article>
</div><!--photo-container-->